 @charset "UTF-8";

 footer {
     background-color: #EAEAEA;
     padding: 5vw 10vw;
 }

 footer .companyName {
     font-size: 0;
     color: transparent;
     background-image: url(../images/logo.svg);
     width: 20vw;
     padding-top: 5%;
     background-repeat: no-repeat;
 }


address span{
    display: block;
}
address small {
     display: block;
     opacity: 0.6;
     margin-top: 10px;
 }

 footer .menuList {
     display: flex;
     margin-top: 3rem;

 }

 footer .menuList li a {
     display: block;
     padding: 0 15px;
     color: #333;
     letter-spacing: 2px;
 }

 footer .menuList li+li:before {
     content: '';
     width: 1px;
     height: 10px;
     position: absolute;
     left: 0;
     top: 50%;
     transform: translateY(-50%);
     background-color: #999;
 }



 @media(max-width: 991px) {
     footer {
         padding: 5vw;
         padding-top: 10vw
     }

     footer .companyName {
         width: 35%;
     }

     footer .menuList {
         display: none
     }

     footer:after {
         content: '© YONG JU GROUP';
         text-align: right;
         border-top: 1px solid #dadada;
         padding-top: 15px;
         display: block;
         margin-top: 5vw;
         opacity: 0.6;
         font-size: 10px;

     }
 }

 @media (max-width: 991px) {
     footer .companyName {
         width: 100%;
         padding-top: 8%;
         margin-bottom: 2rem;
     }
 }