 @charset "UTF-8";

 .bannerArea .fadeSlick {
     margin-bottom: 0;
 }

 .bannerArea .fadeSlick .innerImg {
     max-height: 100vh;
     padding-top: 50%;
 }

 .bannerArea .fadeSlick .innerImg .image {
     background-size: cover;
     background-position: center;
 }

 .bannerArea .fadeSlick .slick-dots {
     position: absolute;
     bottom: 15px;
 }

 .copyright {
     position: fixed;
     left: 3rem;
     bottom: 2rem;
     color: #333;
     opacity: 0.5;
 }

@media (max-width:991px) {
    .bannerArea{
        margin-top: 58px;
    }
}


 /*aboutArea*/

 .aboutArea {
     background: -webkit-linear-gradient(bottom, #fff 0%, #fff 20%, #EAEAEA 20%, #EAEAEA 100%);
     background: -o-linear-gradient(bottom, #fff 0%, #fff 20%, #EAEAEA 20%, #EAEAEA 100%);
     background: linear-gradient(to top, #fff 0%, #fff 20%, #EAEAEA 20%, #EAEAEA 100%);
 }

 .aboutArea .UnitTitle {
     margin-bottom: 3rem;

 }

 .aboutArea .Img .innerImg {
     margin: 0 3px;
     padding-top: 100%;
 }

 @media(max-width: 991px) {
     .aboutArea .Img .innerImg {
         padding-top: 70%
     }
 }




 /*newsArea*/

 .newsArea {
     background-color: #fff;
 }


 .newsArea .UnitTitle {
     color: #EAEAEA;
     border-color: #EAEAEA;
     margin: 0;
 }


 .newsArea .newsBox {
     padding-left: 5%;
     border-left: 1px solid #EAEAEA;
 }

 .newsArea .newsBox .subtitle {
     margin: 3rem 0 1rem;
 }

 .NewsList .item a {
     margin-bottom: 1rem;
     color: #333;
     display: block;

 }


 .NewsList .item .Txt {
     padding-top: 5%;
 }

 .NewsList .item .Txt .title {

     display: inline-block;
     overflow: hidden;
     padding-bottom: 3px;
 }

 .NewsList .item .Txt .title:after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 1px;
     background-color: #333;


 }

 .NewsList .item:hover .Txt .title:after {
     animation: underline 1s both;
 }


 .NewsList .item .Txt p {
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
 }

 .NewsList .item .innerImg {
     overflow: hidden;
 }

 .NewsList .item .innerImg .image {
     transform: scale(1);
     transform-origin: center;
     transition: all 1s;

 }

 .NewsList .item:hover .innerImg .image {
     transform: scale(1.1);
     transition: all 1s;
 }



 /*caseArea*/
 .caseArea {
     padding-right: 0;
     background-color: #fff;
     overflow: hidden;
 }

 .caseArea:before {
     content: '';
     position: absolute;
     top: 0;
     left: 15vw;
     width: 70vw;
     height: 60%;
     background-color: #EAEAEA;
 }

 .caseArea .UnitTitle {
     width: 70vw;
     overflow: visible;
     text-align: right;
     border-bottom: none;
     margin-bottom: 2rem;
     line-height: 1;
 }

 .caseArea .UnitTitle span {
     transform: none;
     line-height: 1;

 }

 .caseArea .subtitle {
     margin-bottom: 1rem;
 }


 .caseArea .caseBox {
     padding-left: 12vw;
     padding-right: 0;
 }

 .caseArea .caseBox .subtitle b {
     display: block;
 }

 .caseArea .caseBox .caseList {
     margin: 0 -10px;
 }

 .caseArea .caseBox .caseList .item {
     display: block;
     cursor: pointer;
     padding: 10px;
     color: #333;
 }

 .caseArea .caseBox .caseList .item .Txt {
     padding: 10px 0;
 }

 .caseArea .caseBox .caseList .item .Txt small {
     display: block;
 }

 .caseArea .caseBox .caseList .item .Txt .caseName {
     display: inline-block;
     padding: 10px 0 5px;
 }

 .caseArea .caseBox .caseList .item .innerImg {
     padding-top: 132%;
     overflow: hidden;
 }

 .caseArea .caseBox .caseList .item .image {
     transform: scale(1.0);
     transition: all 1s;
 }

 .caseArea .caseBox .caseList .item:hover .image {
     transform: scale(1.1);
     transition: all 1s;

 }





 .caseArea .caseBox .caseList .item .Txt .caseName:after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 1px;
     background-color: #333;
 }

 .caseArea .caseBox .caseList .item:hover .Txt .caseName:after {
     animation: underline 1s both;
 }


 @media(max-width: 991px) {
     .caseArea {

         background: -webkit-linear-gradient(bottom, #fff 0%, #fff 30%, #EAEAEA 30%, #EAEAEA 100%);
         background: -o-linear-gradient(bottom, #fff 0%, #fff 30%, #EAEAEA 30%, #EAEAEA 100%);
         background: linear-gradient(to top, #fff 0%, #fff 30%, #EAEAEA 30%, #EAEAEA 100%);
         padding-bottom: 10vh;

     }

     .caseArea:before {
         display: none
     }

     .caseArea .caseBox {
         padding-left: 5vw;
     }

     .caseArea .UnitTitle {
         width: 100%;
     }
 }


 @media (max-width: 480px) {
     .caseArea .caseBox .caseList {
         margin-left: -9vw;
     }

     .caseArea .caseBox .caseList .item {
         opacity: 0.5;
     }

     .caseArea .caseBox .caseList .item .Txt {
         opacity: 0
     }

     .caseArea .caseBox .caseList .slick-center .item {
         opacity: 1
     }

     .caseArea .caseBox .caseList .slick-center .Txt {
         opacity: 1
     }
 }