ul.menuList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.haeder-nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.haeder-nav .navbar-brand {
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    width: 15vw;
    padding-left: 10px;

    background-image: url(../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.haeder-nav .navbar-brand span {
    display: none;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    width: 8vw;
    height: 100%;
    background-color: #03554F;
    border-radius: 0;
    z-index: 9999;
}

.navbar-toggler:before,
.navbar-toggler:after {
    content: '';
    display: block;
    width: 2rem;
    height: 1px;
    background: #fff;
    margin: 0 auto;
}

.navbar-toggler:after {
    margin-top: 5px;
}


.haeder-nav .menuList {
    display: flex;
    margin: 0 auto;
}

.haeder-nav .menuList .nav-item .nav-link {
    color: #333;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 0 2rem;
    transition: all 0.5s;
}

.nav-link:focus,
.nav-link:hover {
    color: #999 !important;
    transition: all 0.5s;
}


.haeder-nav .menuList li+li:before {
    content: '';
    position: absolute;

    width: 1px;
    height: 50%;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
    background-color: #e8e6e6;
}



/*--------------*/

.haeder-nav {
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    transition: all 1s;
}

.haeder-nav.active {
    background-color: #fff;
    border-bottom: 1px solid transparent;

    transition: all 1s;
}


/*menuArea*/

.menuArea {
    width: 100%;
    min-height: 100vh;

    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 10vw;
    overflow: scroll;

    transform: translateY(20%);
    z-index: -1;
    transition: all 1s;

}

.menuArea.open {
    opacity: 1;
    transform: translateY(0%);
    z-index: 99999;

    transition: all 1s;



}

.menuArea .menu-close {
    position: fixed;
    top: 3vw;
    right: 3vw;
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 50%;
    z-index: 9999;
    transform-origin: center;


}

.menuArea .menu-close:before,
.menuArea .menu-close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    width: 30px;
    height: 1px;
    background-color: #333;
}

.menuArea .menu-close:before {
    transform: rotate(45deg) translate(-50%, -50%);
}

.menuArea .menu-close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}






.menuArea .menuList {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
}

.menuArea .menuList li {
    width: 50%;
}

.menuArea .menuList li .nav-link {
    display: block;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    line-height: 2;
    padding-bottom: 10px;
    text-align: right;
}



.menuArea .menuList li .nav-link:hover {
    color: #333 !important;
}


.nav-item:hiver .underline:after {
    animation: underline 1s both;
}


.menuArea .menuList li .nav-link small {
    display: block;
    text-transform: uppercase;
    opacity: 0.3;
    line-height: 1;
    font-size: 14px;

}

.menuArea footer {
    width: 100%;
    background-color: transparent;
    padding: 0;
    padding-top: 5vw;
}



@media(max-width: 991px) {
    .haeder-nav {
        padding-left: 20px;
        justify-content: flex-start;
    }

    .navbar-toggler {
        width: 20vw;
    }

    .haeder-nav .navbar-brand {
        position: relative;
        width: 50vw;
        padding-top: 3%;
        background-position: left;
        opacity: 1;
        transition: all 1s;
    }

    .haeder-nav.active .navbar-brand {
        /* opacity: 0; */
        transition: all 1s;
    }



    .menuArea .menuList {
        width: 100%;
    }

    .menuArea .menuList li .nav-link {
        text-align: left;
    }

    .menuArea footer {
        padding-top: 15vw;
    }

    .menuArea footer:after {
        display: none;
    }

}


@media(max-width: 480px) {
    .menuArea .menuList li .nav-link {
        font-size: 1.2rem;
    }

    .menuArea .menuList li .nav-link small {
        font-size: 10px;
    }

}